{% include "header.html" %}
<div class="section-spacing">
  <div class="pt-12 sm:pt-20 md:pt-20 lg:pt-24" sectionname="hero" id="hero" sectionlabel="Hero" sortorder="0">
    <div class="relative isolate">
      <div
        class="absolute inset-y-0 -z-10 transform-gpu overflow-hidden -top-52 md:-top-40 right-0 lg:block lg:-top-56">
        <svg class="" width="233" height="189" fill="none" viewBox="0 0 233 189">
          <defs>
            <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20"
              patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200 dark:text-slate-800" fill="currentColor">
              </rect>
            </pattern>
          </defs>
          <rect width="404" height="392" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
        </svg>
      </div><!-- Content -->
  
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl text-center"  dir="rtl">
        <!--  <h1  class="text-4xl font-bold font-sans tracking-tight text-gray-900 dark:text-white sm:text-6xl text-type-950 dark:text-white">  NovaLab</h1>-->
              <div class="mt-6 mx-auto max-w-4xl text-type-800 dark:text-slate-300 text-justify leading-relaxed text-lg text-right">
              <p>
                NovaLab هي منصة تعليمية مبتكرة تحاكي بيئة المختبرات العلمية، وتهدف إلى تعزيز المهارات العملية للطلاب من خلال تجارب افتراضية تفاعلية.
                <br>
                توفر المنصة بيئة متعددة التخصصات تحاكي جلسات الأعمال التطبيقية، مما يسمح للطلاب والأساتذة بالتفاعل في الوقت الحقيقي وإجراء تجارب دقيقة باستخدام أدوات رقمية متقدمة.
                <br>
                تعد NovaLab حلاً فعالًا لمشكلة نقص المعدات والمواد في المختبرات التقليدية، حيث توفر تجربة تعليمية غامرة تدعم الاستكشاف العلمي والتعلم التفاعلي.
              </p>
            </div>
              <br>   
            </div>
        </div><!-- Hero Media -->
      </div><!-- BG Gradient -->
      <div class="absolute -z-10 top-[calc(100%-20rem)] transform-gpu overflow-hidden hidden lg:block"><svg class=""
          width="144" height="392" fill="none" viewBox="0 0 144 392">
          <defs>
            <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20"
              patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"></rect>
            </pattern>
          </defs>
          <rect width="404" height="392" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
        </svg></div>
    </div>
  </div>

      <div
        class="mx-auto grid max-w-2xl grid-cols-1 gap-x-12 gap-y-16 lg:mx-0 lg:min-w-full lg:max-w-none lg:flex-none lg:gap-y-8">
        <div class="lg:col-end-1 lg:w-full lg:max-w-lg lg:pb-8">
          <div class="prose font-sans mx-auto max-w-7xl dark:prose-invert"  dir="rtl">
            <h2>مهمتنا</h2>
            <p>تتمثل مهمة NovaLab في إحداث ثورة في تعليم العلوم من خلال تقديم تجارب افتراضية تفاعلية وغامرة،
              تُمكّن الطلاب من الاستكشاف والتعلم بفعالية. نؤمن بقوة التكنولوجيا في تغيير مستقبل التعليم، وجعل
              عملية التعلم أكثر جاذبية ومتاحة للجميع</p>
          </div>
        </div>
        <div class="flex flex-wrap items-start justify-end gap-6 sm:gap-8 lg:contents">
          <div class="w-0 flex-auto lg:ml-auto lg:w-auto lg:flex-none lg:self-end"><img
              src="{{ url_for('static', filename='about-us_files/pexels-photo-18068747.png') }}"
              class="aspect-[7/5] w-[37rem] max-w-none rounded-2xl bg-gray-50 object-cover"></div>
          <div
            class="contents lg:col-span-2 lg:col-end-2 lg:ml-auto lg:flex lg:w-[37rem] lg:items-start lg:justify-end lg:gap-x-8">
            <div class="order-first flex w-64 flex-none justify-end self-end lg:w-auto"><img
                src="{{ url_for('static', filename='about-us_files/pexels-photo-8450516.jpeg') }}"
                class="aspect-[4/3] w-[24rem] max-w-none flex-none rounded-2xl bg-gray-50 object-cover"></div>
            <div class="flex w-96 flex-auto justify-end lg:w-auto lg:flex-none"><img
                src="{{ url_for('static', filename='about-us_files/pexels-photo-7723388.jpeg') }}"
                class="aspect-[7/5] w-[37rem] max-w-none flex-none rounded-2xl bg-gray-50 object-cover"></div>
            <div class="hidden sm:block sm:w-0 sm:flex-auto lg:w-auto lg:flex-none"><img
                src="{{ url_for('static', filename='about-us_files/pexels-photo-4031321.jpeg') }}"
                class="aspect-[4/3] w-[24rem] max-w-none rounded-2xl bg-gray-50 object-cover"></div>
          </div>
        </div>
    </div>
  </div>
  <div
    class="relative isolate bg-gradient-to-br from-slate-900 to-slate-950 dark:border dark:border-slate-800 section-padding-y"
    sectionname="ourTeam" id="ourTeam" sectioncomponent="Team" sectionlabel="Our Team" sortorder="3"
    section-component="Team" site-name="NovaLab" site-id="ZP42im4qEzTr89J2BDtA"
    site-logo-url="https://storage.googleapis.com/mixo-files/logos/1742648060376-labTech-q256.svg"
    site-url="https://www.mixo.io/site/lab-tech-8zcnj" site-logo-size="md" header-visible="true"
    regenerating-content="false"><!-- Background -->
    <div>
      <div class="absolute w-96 -z-10 bottom-0 h-52 bg-gray-800/40 rounded-tr-3xl left-0"></div><svg
        class="absolute -mr-3 -top-20 left-1/2 lg:m-0 lg:right-0 opacity-10" width="404" height="392" fill="none"
        viewBox="0 0 404 392">
        <defs>
          <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20"
            patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-900" fill="currentColor"></rect>
          </pattern>
        </defs>
        <rect width="404" height="392" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
      </svg>
    </div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8"  dir="rtl">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <div class="prose prose-user prose-invert font-sans mx-auto max-w-7xl"  dir="rtl">
          <h2>تعرف على فريقنا</h2>
          <p>تأسست NovaLab كمؤسسة ناشئة على يد مجموعة من الطلبة المتفوقين من المدرسة العليا للأساتذة، الذين
            يجمعهم شغف التعليم والتكنولوجيا، بهدف الارتقاء بتعليم العلوم من خلال حلول افتراضية مبتكرة</p>
        </div>
      </div>
      <ul role="list"
        class="mx-auto mt-20 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-14 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3 xl:grid-cols-3">
        <li><img class="aspect-[14/13] w-5/6 rounded-2xl object-cover bg-gray-300"
            src="{{ url_for('static', filename='about-us_files/file-6af82351-dc16-48f3-8ccd-81b3ef59b925.jpg') }}" alt="قدوري سليم">
          <h3 class="mt-6 text-lg font-sans font-semibold leading-8 tracking-tight text-white">قدوري سليم</h3>
          <p class="text-base font-serif leading-7 text-gray-300">مصمم ومطور الموقع</p>
          <p class="text-sm font-serif leading-6 text-gray-500"> </p>
        </li>
        <li><img class="aspect-[14/13] w-5/6 rounded-2xl object-cover bg-gray-300"
            src="{{ url_for('static', filename='about-us_files/file-1d849fdd-7a35-484b-81e5-25526b5babd9.jpg') }}" alt="نصر الدين العيش">
          <h3 class="mt-6 text-lg font-sans font-semibold leading-8 tracking-tight text-white">نصر الدين العيش
          </h3>
          <p class="text-base font-serif leading-7 text-gray-300"> مساعد التصميم والتطوير</p>
          <p class="text-sm font-serif leading-6 text-gray-500"> </p>
        </li>
        <li><img class="aspect-[14/13] w-5/6 rounded-2xl object-cover bg-gray-300"
            src="{{ url_for('static', filename='about-us_files/file-8399bba2-402e-4c41-8809-8508873c03f5.jpg') }}" alt="نسيت الإسم ">
          <h3 class="mt-6 text-lg font-sans font-semibold leading-8 tracking-tight text-white">يسري مليكة  </h3>
          <p class="text-base font-serif leading-7 text-gray-300">المادة العلمية وضبط التجارب</p>
          <p class="text-sm font-serif leading-6 text-gray-500"> </p>
        </li>
        <li><img class="aspect-[14/13] w-5/6 rounded-2xl object-cover bg-gray-300"
            src="{{ url_for('static', filename='about-us_files/file-49fc6b8d-da4f-4682-82e4-f0f9c6cb2d68.jpg') }}" alt="الأستاذة - عشي لامية ">
          <h3 class="mt-6 text-lg font-sans font-semibold leading-8 tracking-tight text-white">الأستاذة 
            - عشي لامية </h3>
          <p class="text-base font-serif leading-7 text-gray-300">الإشراف التقني  </p>
        </li>
        <li><img class="aspect-[14/13] w-5/6 rounded-2xl object-cover bg-gray-300"
            src="{{ url_for('static', filename='about-us_files/file-a35f8e07-044a-428f-931f-7a50736837b6.jpg') }}" alt="مسؤولة الحاضنة">
          <h3 class="mt-6 text-lg font-sans font-semibold leading-8 tracking-tight text-white"> الأستاذة  عليلي مليكة 
          </h3>
          <p class="text-base font-serif leading-7 text-gray-300">مسؤولة الحاضنة ،و المشرفة والموجهة التربوية والأكاديمية للمشروع  </p>
        </li>
      </ul>
    </div>
  </div>
  <section class="relative section-padding-top" sectionname="cta" id="cta" sectioncomponent="Cta"
    sectionlabel="Call to Action" sortorder="4" section-component="Cta" site-name="LabTech"
    site-logo-url="https://storage.googleapis.com/mixo-files/logos/1742648060376-labTech-q256.svg"
    site-url="https://www.mixo.io/site/lab-tech-8zcnj" site-logo-size="md" header-visible="true"
    regenerating-content="false" data-v-3612f197="">
    <div aria-hidden="true" class="block" data-v-3612f197="">
      <div
        class="absolute inset-y-0 left-0 w-1/2 bg-accent-200/20 dark:bg-gradient-to-bl dark:from-accent-900 dark:to-accent-950 rounded-r-3xl mb-12"
        data-v-3612f197=""></div><svg class="absolute -ml-3 top-8 left-1/2" width="404" height="392" fill="none"
        viewBox="0 0 404 392" data-v-3612f197="">
        <defs data-v-3612f197="">
          <pattern id="8228f071-bcee-4ec8-905a-2a059a2cc4fb" x="0" y="0" width="20" height="20"
            patternUnits="userSpaceOnUse" data-v-3612f197="">
            <rect x="0" y="0" width="4" height="4" class="text-primary/10 dark:text-primary/30" fill="currentColor"
              data-v-3612f197=""></rect>
          </pattern>
        </defs>
        <rect width="404" height="392" fill="url(#8228f071-bcee-4ec8-905a-2a059a2cc4fb)" data-v-3612f197="">
        </rect>
      </svg>
    </div>
    <div class="max-w-md px-4 mx-auto sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8" data-v-3612f197="">
      <!-- Inner Wrap -->
      <div
        class="relative bg-canvas px-6 py-10 overflow-hidden border border-accent-400 dark:bg-gradient-to-br dark:from-accent-800 dark:to-accent-950 dark:border-accent-800 rounded-2xl sm:px-12 sm:py-20"
        data-v-3612f197="">
        <div aria-hidden="true" class="absolute inset-0 -mt-72 sm:-mt-32 md:mt-0" data-v-3612f197=""><svg
            class="absolute inset-0 w-full h-full" preserveAspectRatio="xMidYMid slice"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 1463 360" data-v-3612f197="">
            <path class="text-primary/5 opacity-50" fill="currentColor"
              d="M-82.673 72l1761.849 472.086-134.327 501.315-1761.85-472.086z" data-v-3612f197=""></path>
            <path class="text-primary/10 opacity-60" fill="currentColor"
              d="M-217.088 544.086L1544.761 72l134.327 501.316-1761.849 472.086z" data-v-3612f197=""></path>
          </svg></div>
        <div class="relative" data-v-3612f197=""  dir="rtl">
          <div class="mt-6 sm:mt-12 sm:text-center" data-v-3612f197="">
            <h2
              class="text-3xl font-black font-sans tracking-tight text-accent-950 dark:text-white sm:text-4xl md:text-5xl md:leading-tight md:max-w-4xl md:mx-auto"
              data-v-3612f197="">ابدأ باستكشاف التجارب العلمية الافتراضية</h2>
          </div>
          <div class="mt-6 sm:mt-12 sm:mx-auto sm:max-w-lg flex flex-col items-center" data-v-3612f197=""><a to=""
              class="ui-button ui-button ui-button-base ui-button-primary hover:scale-[102%] transition-transform"
              href="#" data-v-3612f197=""><!--v-if--><!--v-if-->استكشاف
              التجارب</a></div>
        </div>
      </div>
    </div>
  </section>
  {% include "footer.html" %}