{% include "header.html" %}
            <div class="relative isolate overflow-hidden pt-14">
              <div class="absolute inset-0 -z-30 h-full w-full"><img src="{{ url_for('static', filename='index_files/pexels-photo-2280551.jpeg') }}"
                  alt="NovaLab" class="opacity-30 absolute -z-20 h-full w-full object-cover"></div>
              <!-- SVG Overlay 1 -->
              <div class="px-6 lg:px-8 py-16 sm:py-32 lg:py-48">
                <div class="mx-auto">
                  <div class="text-center"><!-- Title & Subtitle -->
                    <div class="mx-auto">
                      <h1
                        class="text-4xl font-black font-sans text-balance tracking-tight sm:text-6xl xl:text-7xl text-type-950 dark:text-white">
                        <span>محـاكاة افتراضية <span class="text-primary" data-v-3612f197=""> للمختبـرات العلمية </span> </span>
                        <!--     <span> منصــة تعليميــة لمحاكـاة المختبـرات </span> -->
                      </h1>
                      <h2
                        class="prose prose-user mt-6 text-balance sm:text-xl font-serif mx-auto text-type-800 dark:text-slate-300">
                        <span>ارتقِ بتعليم العلوم من خلال المنصة التي توفر تجارب افتراضية وتفاعلات آنية</span>
                      </h2>
                    </div><!-- Helper Text, Buttons & Signup Form -->
                    <div class="mt-4 md:mt-10 space-y-4"><!-- Helper Text --><!-- Buttons -->
                      <div class="justify-center flex flex-wrap gap-2"><!-- Primary Button -->
                        <div><a to=""
                            class="ui-button ui-button ui-button-base ui-button-primary hover:scale-[102%] transition-transform"
                            href="{{ url_for('product') }}"
                            target="_blank"><!--v-if--><!--v-if-->اكتشف التجارب العلمية</a></div>
                        <!-- Secondary Button -->
                      </div><!-- Signup Form -->
                    </div><!-- Social Proofing -->
                    <div class="ratings text-type-700 dark:text-type-100 mt-6 flex justify-center"
                      data-testid="ratings">
                      <div
                        class="divide-accent-700 dark:divide-slate-400 flex items-center gap-3 divide-x text-center sm:text-left">
                        <div class="flex flex-wrap flex-shrink-0"><svg width="1.2em" height="1.2em"
                            preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20"
                            class="w-5 h-5 text-highlight dark:text-white">
                            <path fill="currentColor"
                              d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 0 0 .95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 0 0-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 0 0-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 0 0-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 0 0 .951-.69z">
                            </path>
                          </svg><svg width="1.2em" height="1.2em" preserveAspectRatio="xMidYMid meet"
                            viewBox="0 0 20 20" class="w-5 h-5 text-highlight dark:text-white">
                            <path fill="currentColor"
                              d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 0 0 .95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 0 0-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 0 0-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 0 0-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 0 0 .951-.69z">
                            </path>
                          </svg><svg width="1.2em" height="1.2em" preserveAspectRatio="xMidYMid meet"
                            viewBox="0 0 20 20" class="w-5 h-5 text-highlight dark:text-white">
                            <path fill="currentColor"
                              d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 0 0 .95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 0 0-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 0 0-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 0 0-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 0 0 .951-.69z">
                            </path>
                          </svg><svg width="1.2em" height="1.2em" preserveAspectRatio="xMidYMid meet"
                            viewBox="0 0 20 20" class="w-5 h-5 text-highlight dark:text-white">
                            <path fill="currentColor"
                              d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 0 0 .95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 0 0-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 0 0-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 0 0-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 0 0 .951-.69z">
                            </path>
                          </svg><svg width="1.2em" height="1.2em" preserveAspectRatio="xMidYMid meet"
                            viewBox="0 0 20 20" class="w-5 h-5 text-highlight dark:text-white">
                            <path fill="currentColor"
                              d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 0 0 .95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 0 0-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 0 0-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 0 0-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 0 0 .951-.69z">
                            </path>
                          </svg></div>
                        <div
                          class="text-type-700 dark:text-type-100 min-w-0 py-1 text-xs tracking-tight sm:text-sm sm:text-bold font-serif pl-3">
                          تفاعلية</div>
                        <div
                          class="text-type-700 dark:text-type-100 min-w-0 py-1 text-xs tracking-tight sm:text-sm sm:text-bold font-serif pl-3">
                          تعليمية</div>
                      </div>
                    </div><!-- User Review -->
                  </div>
                </div>
              </div><!-- SVG Overlay 2 -->
            </div>
          </div>
          <section class="space-y-24 mx-auto max-w-7xl px-6 lg:px-8" sectionname="features" id="features"
            sectioncomponent="Features" sectionlabel="Features" sortorder="1" section-component="Features"
            site-name="NovaLab" site-id="ZP42im4qEzTr89J2BDtA"
            site-logo-url="https://storage.googleapis.com/mixo-files/logos/1742648060376-labTech-q256.svg"
            site-logo-size="md" header-visible="true" data-v-46295698="" dir="rtl">
            <div
              class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
              data-v-46295698=""><!-- Main Title & Subtitle -->
              <div data-v-46295698="">
                <h2 class="text-3xl font-sans font-bold tracking-tight text-type-950 dark:text-white sm:text-4xl"
                  data-v-46295698="" dir="rtl">محاكاة المختبرات العلمية</h2>
                <div class="mt-6 text-lg font-serif leading-8 text-type-600 dark:text-slate-300" data-v-46295698="" dir="rtl">قم
                  بإحداث نقلة نوعية في تعليم العلوم مع منصة NovaLab التفاعلية، التي توفر تجارب افتراضية وتفاعلات آنية.
                </div>
              </div>
              <dl class="col-span-2 grid grid-cols-1 gap-x-8 gap-y-16 sm:grid-cols-2" data-v-46295698="" dir="rtl">
                <div class="items-start flex flex-col text-base font-semibold leading-7 text-gray-900 space-y-4"
                  data-v-46295698=""><!-- Image -->
                  <div data-v-46295698="">
                    <div class="lg:px-0 lg:m-0 lg:relative lg:h-full lg:flex lg:items-center" data-v-46295698=""><img
                        src="{{ url_for('static', filename='index_files/pexels-photo-4565723.jpeg') }}" class="mr-auto w-auto lg:h-56 rounded-xl"
                        alt="&lt;span&gt;أجرِ تجارب علمية دقيقة&lt;/span&gt;" data-v-46295698=""></div>
                  </div><!-- Title -->
                  <h2 class="text-xl font-black font-sans tracking-tight text-type-900 dark:text-white text-left"
                    data-v-46295698=""><span>أجرِ تجارب علمية دقيقة</span></h2><!-- Description -->
                    <div class="feature-description mt-4 prose prose-user dark:prose-invert font-serif leading-relaxed text-type-700 dark:text-slate-200 font-normal text-right"
                    data-v-46295698="">
                   <span>تتيح NovaLab للطلاب والأساتذة إجراء تجارب علمية افتراضية دقيقة باستخدام رسومات ثلاثية الأبعاد وتفاعلات آنية، مما يعزز تجربة التعلم.</span>
               </div>
               <!-- CTA -->
                </div>
                <div class="items-start flex flex-col text-base font-semibold leading-7 text-gray-900 space-y-4"
                  data-v-46295698=""><!-- Image -->
                  <div data-v-46295698="">
                    <div class="lg:px-0 lg:m-0 lg:relative lg:h-full lg:flex lg:items-center" data-v-46295698=""><img
                        src="{{ url_for('static', filename='index_files/pexels-photo-3992944.jpeg') }}" class="mr-auto w-auto lg:h-56 rounded-xl"
                        alt="&lt;span&gt;شارك في تفاعلات آنية&lt;/span&gt;" data-v-46295698=""></div>
                  </div><!-- Title -->
                  <h2 class="text-xl font-black font-sans tracking-tight text-type-900 dark:text-white text-left"
                    data-v-46295698=""><span>شارك في تفاعلات آنية</span></h2><!-- Description -->
                  <div
                    class="feature-description mt-4 prose prose-user dark:prose-invert font-serif leading-relaxed text-type-700 dark:text-slate-200 font-normal text-right"
                    data-v-46295698="">
                    <p>يمكن للطلاب والأساتذة المشاركة في تفاعلات آنية داخل المختبر الافتراضي، مما يعزز التعلم التعاوني
                      والفهم العميق</p>
                  </div><!-- CTA -->
                  <div data-v-46295698=""></div><!-- Review -->
                </div>
                <div class="items-start flex flex-col text-base font-semibold leading-7 text-gray-900 space-y-4"
                  data-v-46295698=""><!-- Image -->
                  <div data-v-46295698="">
                    <div class="lg:px-0 lg:m-0 lg:relative lg:h-full lg:flex lg:items-center" data-v-46295698=""><img
                        src="{{ url_for('static', filename='index_files/pexels-photo-17483869.jpeg') }}" class="mr-auto w-auto lg:h-56 rounded-xl"
                        alt="&lt;span&gt;عزّز تعلم العلوم&lt;/span&gt;" data-v-46295698=""></div>
                  </div><!-- Title -->
                  <h2 class="text-xl font-black font-sans tracking-tight text-type-900 dark:text-white text-left"
                    data-v-46295698=""><span>عزّز تعلم العلوم</span></h2><!-- Description -->
                  <div
                    class="feature-description mt-4 prose prose-user dark:prose-invert font-serif leading-relaxed text-type-700 dark:text-slate-200 font-normal text-right"
                    data-v-46295698="">
                    <p>تعمل NovaLab على تعزيز تعلم العلوم من خلال توفير تجربة مختبر واقعية، مما يشجع الطلاب على الفضول
                      والاستكشاف</p>
                  </div><!-- CTA -->
                  <div data-v-46295698=""></div><!-- Review -->
                </div>
                <div class="items-start flex flex-col text-base font-semibold leading-7 text-gray-900 space-y-4"
                  data-v-46295698=""><!-- Image -->
                  <div data-v-46295698="">
                    <div class="lg:px-0 lg:m-0 lg:relative lg:h-full lg:flex lg:items-center" data-v-46295698=""><img
                        src="{{ url_for('static', filename='index_files/pexels-photo-17485706.png') }}" class="mr-auto w-auto lg:h-56 rounded-xl"
                        alt="&lt;span&gt;بيئة تعليمية تفاعلية&lt;/span&gt;" data-v-46295698=""></div>
                  </div><!-- Title -->
                  <h2 class="text-xl font-black font-sans tracking-tight text-type-900 dark:text-white text-left"
                    data-v-46295698=""><span>بيئة تعليمية تفاعلية</span></h2><!-- Description -->
                  <div
                    class="feature-description mt-4 prose prose-user dark:prose-invert font-serif leading-relaxed text-type-700 dark:text-slate-200 font-normal text-right"
                    data-v-46295698="">
                    <p dir="rtl">توفر NovaLab بيئة تعليمية تفاعلية تتجاوز الطرق التقليدية، مما يجعل تعليم العلوم أكثر جاذبية
                      وفعالية</p>
                  </div><!-- CTA -->
                </div>
              </dl>
            </div>
          </section>
          <section class="relative section-padding-top" sectionname="cta" id="cta" sectioncomponent="Cta"
            sectionlabel="Call to Action" sortorder="4" section-component="Cta" site-name="LabTech"
            site-logo-url="https://storage.googleapis.com/mixo-files/logos/1742648060376-labTech-q256.svg"
            site-url="https://www.mixo.io/site/lab-tech-8zcnj" site-logo-size="md" header-visible="true"
            regenerating-content="false" data-v-3612f197="">
            <div aria-hidden="true" class="block" data-v-3612f197="">
              <div
                class="absolute inset-y-0 left-0 w-1/2 bg-accent-200/20 dark:bg-gradient-to-bl dark:from-accent-900 dark:to-accent-950 rounded-r-3xl mb-12"
                data-v-3612f197=""></div><svg class="absolute -ml-3 top-8 left-1/2" width="404" height="392" fill="none"
                viewBox="0 0 404 392" data-v-3612f197="">
                <defs data-v-3612f197="">
                  <pattern id="8228f071-bcee-4ec8-905a-2a059a2cc4fb" x="0" y="0" width="20" height="20"
                    patternUnits="userSpaceOnUse" data-v-3612f197="">
                    <rect x="0" y="0" width="4" height="4" class="text-primary/10 dark:text-primary/30"
                      fill="currentColor" data-v-3612f197=""></rect>
                  </pattern>
                </defs>
                <rect width="404" height="392" fill="url(#8228f071-bcee-4ec8-905a-2a059a2cc4fb)" data-v-3612f197="">
                </rect>
              </svg>
            </div>
            <div class="max-w-md px-4 mx-auto sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8" data-v-3612f197="">
              <!-- Inner Wrap -->
              <div
                class="relative bg-canvas px-6 py-10 overflow-hidden border border-accent-400 dark:bg-gradient-to-br dark:from-accent-800 dark:to-accent-950 dark:border-accent-800 rounded-2xl sm:px-12 sm:py-20"
                data-v-3612f197="">
                <div aria-hidden="true" class="absolute inset-0 -mt-72 sm:-mt-32 md:mt-0" data-v-3612f197=""><svg
                    class="absolute inset-0 w-full h-full" preserveAspectRatio="xMidYMid slice"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 1463 360" data-v-3612f197="">
                    <path class="text-primary/5 opacity-50" fill="currentColor"
                      d="M-82.673 72l1761.849 472.086-134.327 501.315-1761.85-472.086z" data-v-3612f197=""></path>
                    <path class="text-primary/10 opacity-60" fill="currentColor"
                      d="M-217.088 544.086L1544.761 72l134.327 501.316-1761.849 472.086z" data-v-3612f197=""></path>
                  </svg></div>
                <div class="relative" data-v-3612f197="">
                  <div class="mt-6 sm:mt-12 sm:text-center" data-v-3612f197=""  dir="rtl">
                    <h2
                      class="text-3xl font-black font-sans tracking-tight text-accent-950 dark:text-white sm:text-4xl md:text-5xl md:leading-tight md:max-w-4xl md:mx-auto"
                      data-v-3612f197="">استكشاف المختبر <span class="text-primary"
                        data-v-3612f197="">العلمي الافتراضــــــي</span></h2>
                  </div>
                  <div class="mt-6 sm:mt-12 sm:mx-auto sm:max-w-lg flex flex-col items-center" data-v-3612f197=""><a
                      to=""
                      class="ui-button ui-button ui-button-base ui-button-primary hover:scale-[102%] transition-transform"
                      href="{{ url_for('product') }}" target="_blank"
                      data-v-3612f197=""><!--v-if--><!--v-if-->اكتشف التجارب العلمية</a></div>
                </div>
              </div>
            </div>
          </section>
{% include "footer.html" %}